<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="m31.suzume" version="1.5.3" android-versionCode="70010503">
  <name>suzume</name>
  <description>Hello World App</description>
  <author/>
  <!--  <access origin="*"/> -->
  <content src="index.html"/>
  <preference name="loglevel" value="DEBUG"/>
  <preference name="AndroidLaunchMode" value="singleTop"/>
  <preference name="ErrorUrl" value=""/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="monaca:DisableCookie" value="false"/>
  <feature name="App">
    <param name="android-package" value="org.apache.cordova.App"/>
  </feature>
  <preference name="AllowInlineMediaPlayback" value="false"/>
  <preference name="BackupWebStorage" value="cloud"/>
  <preference name="FadeSplashScreenDuration" value=".25"/>
  <preference name="KeyboardDisplayRequiresUserAction" value="true"/>
  <preference name="MediaPlaybackRequiresUserAction" value="false"/>
  <preference name="SuppressesIncrementalRendering" value="false"/>
  <preference name="TopActivityIndicator" value="gray"/>
  <preference name="GapBetweenPages" value="0"/>
  <preference name="PageLength" value="0"/>
  <preference name="PaginationBreakingMode" value="page"/>
  <preference name="PaginationMode" value="unpaginated"/>
  <feature name="LocalStorage">
    <param name="ios-package" value="CDVLocalStorage"/>
  </feature>
  <preference name="webView" value="org.crosswalk.engine.XWalkWebViewEngine"/>
  <allow-intent href="itms:*"/>
  <allow-intent href="itms-apps:*"/>
  <allow-navigation href="*"/>
  <preference name="monaca:targetFamilyiPhone" value="1"/>
  <preference name="monaca:targetFamilyiPad" value="1"/>
  <preference name="AutoHideSplashScreen" value="true"/>
  <preference name="FadeSplashScreen" value="true"/>
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="EnableViewportScale" value="false"/>
  <preference name="WindowsStorePublisherName" value="My Name"/>
  <preference name="WindowsStoreIdentityName" value="217cb767-f6af-5851-492f-ab8675e28efa"/>
  <access origin="*"/>
  <preference name="KeepRunning" value="true"/>
  <preference name="monaca:AndroidIsPackageNameSeparate" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="Orientation" value="default"/>
  <preference name="SplashScreenDelay" value="2000"/>
  <preference name="Fullscreen" value="false"/>
</widget>
